@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_NavBar.cshtml";
}

@if (Model.Movies.Count == 0)
{
    <text>No one has rented this movie before.</text>
}
else
{
    <ul>
        @foreach (var movie in Model.Movies)
        {
            <li>@movie.Name</li>
        }
    </ul>
}



